:root {
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-secondary-hover: #212121;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

.container {
    padding: 0px 50px;
}

a {
    text-decoration: none;
    color: #000;
}

/* Inicio loader */
.loader_container {
    display: none;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}

.loader_container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212531;
    opacity: .8;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    color: #009580;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
    color: #009580;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
    }

    @keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .5em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .5em .5em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .5em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.5em .5em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.5em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.5em -.5em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.5em 0 0 currentcolor;
    }
    87% {
        box-shadow: .5em -.5em 0 0 currentcolor;
    }
}

/* Fin loader */

/* Inicio menu */
.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 24px;
    margin-top: 20px;
}

.header__logo {
    grid-column: 1 / 3;
    max-width: 250px;
}

.header__user_menu {
    grid-column: 5 / 7;
    text-align: end;
    display: flex;
    justify-content: end;
    gap: 30px;
}

.header__user_menu i {
    vertical-align: center;
}

.user_menu--login {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.header__secondary_menu {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.header__secondary_menu__link {
    text-transform: uppercase;
}

/* Fin menu */

/* Inicio main home */
.main_home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, min-content);
    row-gap: 90px;
}

.hero {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.hero img {
    max-width: 100%;
}

.productos_home {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.producto_home {
    min-width: 196px;
    /* Carrusel */
    perspective: 400px;
    flex-basis: calc(100% / 7);
    background-color: white;
}

.producto_home__img_container {
    display: flex;
    align-items: center;
    height: 242px;
    /* Carrusel */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.producto_izquierda {
    margin-right: -80px;
    transform: rotateY(10deg);
}

.img_izquierda {
    transform: rotateY(45deg);
}

.producto_derecha {
    margin-left: -80px;
    transform: rotateY(-10deg);
}

.producto_derecha--primero {
    z-index: 99;
}

.producto_derecha--segundo {
    z-index: 9;
}

.img_derecha {
    transform: rotateY(-45deg);
}

.producto_centro {
    scale: 1.35;
    z-index: 999;
}

.productos_home img {
    width: 100%;
    max-height: 242px;
}

/* Inicio baner */
.baner {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

video {
    width: 100%;
    /* object-fit: cover; */
}

/* Fin baner */

/* Inicio Seccion siguenos */
.siguenos {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    display: flex;
}

.siguenos__img {
    display: block;
    max-height: 310px;
}

.siguenos__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
}

.siguenos__info__titulo {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.siguenos__info__redes {
    display: flex;
    gap: 18px;
}
/* Fin seccion siguenos */

/* Inicio seccion novedades */
.novedades {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.novedades__titulo {
    font-size: 2rem;
}

.input {
    padding: 12px 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 70%;
}
/* Fin novedades */



/* Fin main home */

/* Inicio footer */
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 60px;
    margin-top: 90px;
}

.footer__ayuda a,
.footer__legal a,
.footer__nosotros a {
    margin-top: 14px;
    display: block;
}

.footer__metodos_pago img {
    max-width: 34px;
    margin-right: 14px;
}

.footer__redes_sociales {
    margin-top: 40px;
}


/* Fin footer */

/* ################################################### */
/* Inicio página categoría */

/* Fin página categoría */
.main_categoria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    row-gap: 50px;
}

.hero_categoria {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.grid_productos {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    column-gap: 16px;
    row-gap: 50px;
}

.producto_categoria__img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 374px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 20px;
}

.producto_categoria__img_container img {
    max-width: 100%;
    max-height: 100%;
}

.producto_categoria__info {
    padding: 0px 1.5rem;
}

/* ############################### */
/* Inicio detalle producto */
.detalle_producto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.detalle_producto__img {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0em 6em;
    max-height: 500px;
}

.detalle_producto__img img {
    max-width: 100%;
    max-height: inherit;
}

.detalle_producto__descripcion {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-right: 6em;
}

/* ######################### */
/* Login */
.main_login {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    gap: 50px;
    margin-top: 50px;
}

.main_login__login,
.main_login__register {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.form__input_div {
    position: relative;
}

.main_login input {
    display: block;
    margin: 0 auto;
    padding: 12px 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    max-width: 500px;
    margin-bottom: 2em;
}

.main_login label {
    position: absolute;
    left: calc(50% - 250px);
}

.main_login input:focus {
    outline: none;
}

.main_login input:focus label {
    font-size: 0.8em;
    transform: translateY(-20px);
    transition: all 0.3s;
}

.main_login button {
    background-color: var(--color-secondary);
    border: none;
    color : var(--color-primary);
    width: 100%;
    max-width: 500px;
    padding: 1.5em 0em;
}

.main_login button:hover {
    background-color: var(--color-secondary-hover);
    transition: all 0.3s;
}