:root {
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-secondary-hover: #212121;
    --funete-titulo: sans-serif;
    --fuente--cuerpo: 'gill sans', 'gill sans mt', calibri, trebuchet ms, sans-serif;
}

body {
    margin: 0px;
    overflow-x: hidden;
    font-family: var(--fuente--cuerpo);
}

.no_scroll {
    overflow: hidden;
}

h1,
h2 {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
.elemento_header {
    font-family: var(--funete-titulo);
}

button,
.main_login input[type="submit"] {
    cursor: pointer;
    background-color: var(--color-secondary);
    border: none;
    color : var(--color-primary);
    padding: 1.5em 1em;
}

.button--fino {
    padding: 1em 1em;
}

button:hover,
input[type="submit"]:hover {
    background-color: var(--color-secondary-hover);
    transition: all 0.3s;
}

.container {
    padding: 0px 5vw;
}

a {
    text-decoration: none;
    color: #000;
}

/* Inicio loader */
.loader_container {
    display: none;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
}

.loader_container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    opacity: .8;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    color: var(--color-primary);
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
    color: var(--color-primary);
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
    }

    @keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .5em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .5em .5em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .5em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.5em .5em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.5em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.5em -.5em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.5em 0 0 currentcolor;
    }
    87% {
        box-shadow: .5em -.5em 0 0 currentcolor;
    }
}

/* Fin loader */

/* Inicio menu */
.header {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 24px;
    margin-top: 20px;
}

.header__logo {
    grid-column: 1 / 2;
    align-self: center;
    width: 250px;
    cursor: pointer;
}

.header__user_menu {
    grid-column: 3 / 4;
    text-align: end;
    display: flex;
    justify-content: end;
    gap: 30px;
}

.header__user_menu i {
    vertical-align: center;
}

.user_menu--login {
    min-width: fit-content;
}

.user_menu--login,
.user_menu--cart {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}


.header__secondary_menu {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.header__secondary_menu__link {
    text-transform: uppercase;
    position: relative;
}

/* Fin menu */

/* Inicio main home */
.main_home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, min-content);
    row-gap: 5vw;
}

.hero {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin-top: 2vh;
    text-align: center;
}

.hero img {
    max-width: 100%;
}

.productos_home {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.producto_home {
    min-width: 196px;
    /* Carrusel */
    perspective: 400px;
    flex-basis: calc(100% / 7);
    background-color: white;
}

.producto_home__img_container {
    display: flex;
    align-items: center;
    height: 242px;
    /* Carrusel */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.producto_izquierda {
    margin-right: -80px;
    transform: rotateY(10deg);
}

.img_izquierda {
    transform: rotateY(45deg);
}

.producto_derecha {
    margin-left: -80px;
    transform: rotateY(-10deg);
}

.producto_derecha--primero {
    z-index: 99;
}

.producto_derecha--segundo {
    z-index: 9;
}

.img_derecha {
    transform: rotateY(-45deg);
}

.producto_centro {
    scale: 1.35;
    z-index: 999;
}

.productos_home img {
    width: 100%;
    max-height: 242px;
}

/* Inicio baner */
.baner {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

video {
    width: 100%;
    /* object-fit: cover; */
}

/* Fin baner */

/* Inicio Seccion siguenos */
.siguenos {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
}

.siguenos__img_container {
    flex-basis: 66%;
}

.siguenos__img {
    width: 100%;
}

.siguenos__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
}

.siguenos__info__titulo {
    font-size: 2.5rem;
    margin: 0.4em 0;
}

.siguenos__info__redes {
    display: flex;
    gap: 18px;
}
/* Fin seccion siguenos */

/* Inicio seccion novedades */
.novedades {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.novedades__titulo {
    font-size: 2rem;
}

.input {
    padding: 12px 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 70%;
    margin: 0 auto;
}
/* Fin novedades */



/* Fin main home */

/* Inicio footer */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding-bottom: 60px;
    margin-top: 90px;
    gap: 1em;
}

.footer section {
    width: fit-content;
    margin: 0 auto;
}

.footer__ayuda a,
.footer__legal a,
.footer__nosotros a {
    margin-top: 14px;
    display: block;
}

.footer__metodos_pago img {
    max-width: 34px;
    margin-right: 14px;
}

.footer__redes_sociales {
    margin-top: 40px;
}


/* Fin footer */

/* ################################################### */
/* Inicio página categoría */

/* Fin página categoría */
.main_categoria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    row-gap: 50px;
}

.hero_categoria {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.grid_productos {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    column-gap: 16px;
    row-gap: 50px;
}

.producto_categoria {
    cursor: pointer;
}

.producto_categoria__img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 374px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 20px;
}

.producto_categoria__img_container img {
    max-width: 100%;
    max-height: 100%;
}

.producto_categoria__info {
    padding: 0px 1.5rem;
}

.orden_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    width: 14em;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 0px 1em;
    background-color: var(--color-primary);
    z-index: 9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(calc(100% + 10px));
    transition: all 0.5s;
}

.orden_container--abierto {
    transform: translateX(0);
    transition: all 0.5s;
}

.orden_container button {
    width: 100%;
}

#cerrar_filtros {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 32px;
    height: 18px;
    top: 20px;
    right: 20px;
    padding: 20px;
    z-index: 99999;
    cursor: pointer;
}

#cerrar_filtros .line {
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    border-radius: 4px;
    transition: all 0.15s;
}

#cerrar_filtros .line:nth-child(1) {
    transform: rotate(-45deg) translate(-11px, 0px);
}

#cerrar_filtros .line:nth-child(2) {
    transform: rotate(45deg) translate(-11px, 0px);
}

/* ############################### */
/* Inicio detalle producto */
.detalle_producto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    margin-top: 50px;
}

.detalle_producto__img {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5%;
    /* padding-left: 5%; */
    max-height: 500px;
}

.detalle_producto__img img {
    max-width: 100%;
    max-height: inherit;
}

.detalle_producto__descripcion {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-right: 5vw;
}

.detalle_producto__talla {
    display: inline-block;
    cursor: pointer;
    width: fit-content;
    min-width: 1.4em;
    padding: 0.5em;
    text-align: center;
}

.detalle_producto__talla:hover,
.detalle_producto__talla--activo {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transition: all 0.3s;
}

/* ######################### */
/* Login */
.main_login {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    gap: 50px;
    margin-top: 50px;
}

.main_login__login,
.main_login__register {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.form__input_div {
    position: relative;
}

.main_login input {
    display: block;
    margin: 0 auto;
    padding: 12px 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    max-width: 500px;
    margin-bottom: 2em;
}

.main_login label {
    position: absolute;
    left: calc(50% - 250px);
    top: -10px;
}

.main_login input:focus {
    outline: none;
}

.main_login input:focus label {
    font-size: 0.8em;
    transform: translateY(-20px);
    transition: all 0.3s;
}

.main_login button {
    width: 100%;
    max-width: 500px;
}

/* ################################ */
/* Inicio Carrito */
.carrito__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.carrito__productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.carrito__producto {
    display: flex;
    max-height: 250px;
    justify-content: center;
    align-items: center;
}

.carrito__imagen__container {
    flex-basis: 30%;
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito__imagen {
    max-width: 100%;
    max-height: 250px;
}

.carrito__nombre {
    font-weight: bold;
}

.carrito__info {
    padding: 0 3vw;
    flex-grow: 1;
}

.carrito__opciones {
    cursor: pointer;
}

i.carrito__opciones {
    padding: 2px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    color: white;
}

i.carrito__opciones:hover {
    background-color: var(--color-secondary-hover);
}

.carrito__quitar_producto {
    margin-left: 1em;
    margin-right: 0.5em;
}

.boton--add_carrito {
    position: relative;
    z-index: 9;
}

.animacion_carrito {
    position: absolute;
    left: 0;
    z-index: -1;
}

.animacion_carrito--activo {
    animation: animacion_carrito 5s ease-in-out;
}

/* Animacion con keyframes */
@keyframes animacion_carrito {
    0% {
        transform: translateX(calc(100% + 160px));
    }
    45% {
        transform: translateX(calc(100% + 160px));
        transform: scale(1.2);
    }
    55% {
        transform: translateX(calc(100% + 160px));
        transform: scale(1);
    }
    100% {
        transform: translateX(0);
    }
}


.carrito__id {
    display: none;
}
/* Fin Carrito */

/* Inicio Menu hamburguesa */
#menu__hamburguesa {
    display: none;
    width: 20px;
    height: 14px;
}

#menu__hamburguesa .line {
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    border-radius: 4px;
    transition: all 0.15s;
}

#menu__hamburguesa.trans .line:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 0px);
}

#menu__hamburguesa.trans .line:nth-child(2) {
    height: 0;
}

#menu__hamburguesa.trans .line:nth-child(3) {
    transform: rotate(45deg) translate(-8px, 0px);
}
/* Fin Menu hamburguesa */

/* Inicio Validación de formularios */
input {
    display:block;
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
    transition: background-color 0.5s ease-out;
}
input:optional {
    border-color: gray;
}
input:required:valid {
    border-color: green;
}
input:invalid {
    border-color: red;
}
/* Fin Validación de formularios */

/* mediaquery para 870px */
@media screen and (max-width: 868px) {
    .filtro_layout {
        display: none;
    }
}

@media screen and (max-width: 699px) {
    .detalle_producto__descripcion {
        padding: 0 5vw;
    }
}

/* mediaquery para 645px */
@media screen and (max-width: 645px) {
    .header__user_menu {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        justify-content: center;
    }

    .header__secondary_menu {
        display: none;
    }

    .header__secondary_menu::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-secondary);
        opacity: 0.9;
    }

    .mostrar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 14px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100vw;
        height: 100vh;
        font-size: 22px;
        z-index: 9;
    }

    #menu__hamburguesa {
        display: flex;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        cursor: pointer;
        z-index: 99;
    }

    .header__secondary_menu__link {
        color: var(--color-primary);
    }

    #menu__hamburguesa .line--color {
        background-color: var(--color-primary);
    }

    .siguenos {
        flex-direction: column;
        gap: 1.2em;
    }

    .siguenos__img_container {
        order: 2;
    }

    .main_login {
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }

    .main_login label {
        left: 0;
    }
}

/* media query para 464px */
@media screen and (max-width: 464px) {
    .footer section {
        margin: 0;
    }
}